.idea/
dist/
venv/
build/

leapc-python-api/build
leapc-python-api/dist
leapc-python-api/src/leap.egg-info

leapc-cffi/build
leapc-cffi/dist
leapc-cffi/src/leapc_cffi.egg-info
leapc-cffi/src/leapc_cffi/*.h
leapc-cffi/src/leapc_cffi/*.dll
leapc-cffi/src/leapc_cffi/*.pyd
leapc-cffi/src/leapc_cffi/*.lib
leapc-cffi/src/leapc_cffi/*.dylib
leapc-cffi/src/leapc_cffi/*.so

*.pyc
*.pyd
